
.lasta-page{
  width: 1200px; /*  prevents content from being too wide on big screens */
  margin: 0 auto;
}
 /* Hero Section */
.lasta-header {
  background-color: rgba(54, 82, 69, 0.4);
  background-size: cover;
  padding: 20px;
  text-align: center;
  color: white;
  border-radius: 10px;
}

.lasta-header h1 {
  font-family: "Oswald", Impact, sans-serif;
  font-size: 40px;
}
.content h5 {
  margin: 0 auto;
  font-style: italic;
}

.lasta-hero img{
 width: var(--max-width);
 max-width: 94%;
 background: #25332a;
 margin-left: 20rem;
 margin-top: 2rem;
 padding: 8px;
 border-radius: 8px;
 box-shadow: 0 8px 24px rgba(0, 0, 0, 0.35);
}

.lasta-hero h1{
    text-align: center;
    color: rgb(0, 209, 125);
}

.artivive-link-container {
  text-align: center;
}

.artivive-image {
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.artivive-image:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.35);
}

.container h2{
font-size:20px;
color:var(--muted); 
letter-spacing:1px;
text-transform:uppercase;
margin-bottom:8px;
color: #1db954;
}
 .lasta-page a:hover{
  color: #d9ff00;;
}


@media(min-width:900px){
.hero-video{ height:320px }
.title{ font-size:48px }
}

.cta-text {
  max-width: 70%;
}

.cta-text h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #1db954;;
}

.cta-text p {
  color: #ccc;
  font-size: 1rem;    /* optional: make it a bit larger */
}
.cta-Rights h4{
  color: rgb(152, 84, 84);
}