.united-page{
  width: 1200px; /*  prevents content from being too wide on big screens */
  margin: 0 auto;
}
 /* Hero Section */
.united-header {
  background-color: rgba(54, 82, 69, 0.4);
  background-size: cover;
  padding: 30px;
  text-align: center;
  color: white;
  border-radius: 10px;
}

.united-header h1 {
  font-family: "Oswald", Impact, sans-serif;
  font-size: 42px;

}

.content h4 {
  font-size: 1.2rem;
  margin: 0 6px 0;
}


  

.media-wrap {
  width: var(--max-width);
  max-width: 94%;
  background: #25332a;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.35);
}


.container h2{
font-size:20px;
color:var(--muted); 
letter-spacing:1px;
text-transform:uppercase;
margin-bottom:8px;
color: #1db954;
}


.content{
font-size:1rem;
line-height:1.7;
color: aliceblue;
}


.content p{ margin:0 0 14px 0 }


.back{
display:inline-block;
margin-top:12px;
text-decoration:none;
color: #1db954;
}
.united-page a:hover{
  color: #d9ff00;;
}


@media(min-width:900px){
.hero-video{ height:320px }
.title{ font-size:48px }
}

.cta-text {
  max-width: 70%;
}

.cta-text h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #1db954;;
}

.cta-text p {
  color: #ccc;
  font-size: 1rem;    /* optional: make it a bit larger */
}
.cta-Rights h4{
  color: rgb(152, 84, 84);
  
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;
}

.project_file-btn:hover {
  opacity: 0.8;
}